{% extends 'core/base.html' %}

{% block content %}
<div class="container mt-5">
    <h1 class="text-warning mb-5 border-bottom">Certificates</h1>

    <div class="row text-center text-white mb-5">
        <div class="col-sm-4">
            <i class="fab fa-python fa-2x mb-3 i-color"></i>
        <h3>Python </h3>
        <p class="ss-color">Python is dynamically-typed and garbage-collected. It supports multiple programming paradigms, including structured (particularly, procedural), object-oriented and functional programming.</p>
        </div>

        <div class="col-sm-4">
            <i class="fas fa-database fa-2x mb-3 i-color"></i>
        <h3>DBMS </h3>
        <p class="ss-color">The DBMS is the interface between the user of application programs on one hand and the data base on the other.</p>
        </div>
        
        <div class="col-sm-4">
            <i class="fab fa-html5 fa-2x mb-3 i-color"></i> 
        <h3>HTML 5 </h3>
        <p class="ss-color">HTML5 is a markup language used for structuring and presenting content on the World Wide Web.</p>
        </div>
    </div>

    <div class="row text-center text-white mb-5">  
        <div class="col-sm-4">
            <i class="fab fa-css3 fa-2x mb-3 i-color"></i>
        <h3>CSS </h3>
        <p class="ss-color">Cascading Style Sheets is a style sheet language used for describing the presentation of a document written in a markup language such as HTML.</p>
        </div>

        <div class="col-sm-4">
            <i class="fab fa-js fa-2x mb-3 i-color"></i>  
        <h3>Jquery </h3>
        <p class="ss-color">jQuery is a JavaScript library designed to simplify HTML DOM tree traversal and manipulation, as well as event handling, CSS animation, and Ajax.</p>
        </div>
        
        <div class="col-sm-4">
            <i class="fab fa-java fa-2x mb-3 i-color"></i>  
        <h3>JavaScript</h3>
        <p class="ss-color">JavaScript, often abbreviated JS, is a programming language that is one of the core technologies of the World Wide Web, alongside HTML and CSS. .</p>
        </div>
    </div>

    <div class="row text-center text-white mb-5">
        <div class="col-sm-4">
            <i class="fab fa-phoenix-framework fa-2x mb-3 i-color"></i>
        <h3>Django </h3>
        <p class="ss-color">Django is a Python-based free and open-source web framework that follows the model–template–views architectural pattern.</p>
        </div>

        <div class="col-sm-4">
            <i class="far fa-browser fa-2x mb-3 i-color"></i>
        <h3>Rest API </h3>
        <p class="ss-color">Representational state transfer is a software architectural style that was created to guide the design and development of the architecture for the World Wide Web. </p>
        </div>
        
        <div class="col-sm-4">
            <i class="fab fa-angular fa-2x mb-3 i-color"></i>
        <h3>Angular 10</h3>
        <p class="ss-color">Angular is a platform for building mobile and desktop web applications. .</p>
        </div>
    </div>
</div> 
 {% endblock content %}